body{
  font-family: Okra, Helvetica, sans-serif;
    margin: 5%;
    background-image: linear-gradient(to bottom right,rgb(66, 66, 177),rgb(175, 175, 247));
}

form{
    display: block;
    margin: 50px 450px;
    width: 550px;
    padding: 30px;
    border-radius: 10px;
    font-size: 35px;
    background-color: white;
}
form>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

img{
    width: 30px;
    margin-right: 10px;
}
.input{
    display: flex;
    border-right: 1px solid rgb(94, 93, 93);
    padding:7px;
    font-size: 30px;
}
.container{
    border: 2px solid rgb(232, 232, 232);
    padding: 5px;
    border-radius: 10px;
}
input{
    font-size: 25px;
    border: 0;
    margin-left: 10px;
    width: 100%;
}
form>input{
    border: 1px solid rgb(184, 182, 182);
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 8px;
}
button{
    /* display: flex; */
    font-size: x-large;
    color: white;
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: rgb(230, 81, 91);
    margin: 0;
}
#terms{
    width: 20px;
}
p{
    font-size: large;
    color: rgb(58, 58, 58);
}
.darkpink{
    color: rgb(242, 75, 103);
}
